@model WWW.Models.CreateViewModels.CreateCorViewModel
<form asp-action="CreateCor" asp-controller="Create" method="post">
    <input type="text" asp-for="CourseName"/>
    <input type="submit" />
</form>